<!-- <ion-header>
  <ion-toolbar>
    <ion-title>animtest</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content>
  <div class="animate__animated animate__fadeIn">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slow">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slower">
    <h1>Hello there,</h1>
  </div>

  <div class="animate__animated animate__fadeIn">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slow">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slower">
    <h1>Hello there,</h1>
  </div>

  
  <div class="animate__animated animate__fadeIn">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slow">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slower">
    <h1>Hello there,</h1>
  </div>
  
  <div class="animate__animated animate__fadeIn">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slow">
    <h1>Hello there,</h1>
  </div>
  <div class="animate__animated animate__fadeIn animate__slower">
    <h1>Hello there,</h1>
  </div>

</ion-content>
