<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img style="height: 40px" src="../../../assets/logo_name.png"></ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>Novo cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="animated fadeInDown">
    <div class="ion-margin">
      <p>Informe os campos a seguir para cadastrar um novo cliente:</p>
    </div>
    <div mode="ios">
      <!-- força modo "ios" para o estilo dos inputs não variar entre dispositivos -->
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="nome" class="input-dados"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Profissão</ion-label>
        <ion-input [(ngModel)]="profissao" class="input-dados"></ion-input>
      </ion-item>
    </div>

    <div class="ion-margin">
      <ion-button color="primary" fill="solid" (click)="cadastrarCliente()">
        Cadastrar
      </ion-button>
      <ion-button color="primary" fill="outline" href="clientes">
        Voltar
      </ion-button>
    </div>

  </div>
</ion-content>